<p class="description">Chers clients,</p>
<p class="description">Bienvenue. Notre magnifique hôtel est actuellement ouvert et nos équipes sont présentes à chaque instant pour répondre à vos demandes.</p>
<p class="description">Pour réserver, connectez-vous puis cliquez sur l'onglet <em>Chambres</em> pour choisir le type de chambre que vous souhaitez réserver.<br/> Si ce n'est pas votre première visite, vous pourrez visualiser vos réservations passées dans l'onglet  <em>Réservations</em>.</p>
<p class="description">Bonne navigation sur notre site.</p>